
/* Your CSS Code here. */

.holder {
    display: grid;
    grid-template-columns: repeat(2, 200px); 
    grid-template-rows: repeat(2, 200px); 
    
    grid-gap: 10px;
    row-gap: 10px;
    border-radius: 5px;
}

.item{
    background-color: blanchedalmond;
}
